@font-face {
    font-family: "Pixel Musketeer";
    src: url("fonts/Pixel Musketeer.otf");
}

@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #cabdbd;
    border-color: black;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.button, .text-box {
    color: black;
}

.linea-icon {
	background-color: rgba(201, 229, 241, 0.678);
	border-width: 2.5px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
    padding: 4px;
    transition: background-color 200ms,
        box-shadow 100ms;
}

.linea-icon:hover {
    background-color: grey;
}

.linea-icon:active {
    box-shadow: 0px 0px 10px rgba(250, 90, 90, 0.671);
}

#skip:hover {
    opacity: 0.7;
}

#skip:active {
	filter: invert(100%);
    opacity: 1;
}

.channel-name {
    color: #cabdbd;
}

.track-info {
    padding: 10px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    transition: background-color, 200ms;
    border-radius: 20px;
}

.main-nav {
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li {
    padding: 0 1%;
    font-size: 14px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.nav a:active {
    opacity: 0.4;
}

.main-header {
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    background-image: url("images/radio.jpg");
    background-blend-mode: multiply;
    background-size: contain;
    color: #cabdbd;
    padding-bottom: 8px;
    padding-top: 8px;
}

.main-header h1 {
    font-family: "Pixel Musketeer";
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0;
    border-bottom: 3px ridge rgba(255, 255, 255, .3);
}

.main-footer {
    text-align: center;
}

.main-footer p {
    font-size: 10px;
    display: inline;
}

.main-footer a img {
    color: black;
    filter: invert(100%);
}

table {
	width: 100%;
    background-color: rgb(153, 0, 26);
	table-layout: fixed;
	margin: auto;
    border-radius: 10px;
    border-spacing: 0px;
}

.config-col, .del-col {
    width: 4%;
}

.move-col {
    width: 3%;
}

.track-col {
    width: 30%;
}

.artist-col {
    width: 20%;
}

tr, th, td {
	overflow: hidden;
	text-overflow: ellipses;
	word-wrap: break-word;
	height: 10px;
	width: 10px;
	padding: 1px;
    border-radius: 10px;
    font-weight: bold;
}

tr:nth-of-type(even) {
    background: #9e0707;
}

.track-title, .track-artist {
	text-align: left;
    color: #cabdbd;
}

.header {
	font-style: italic;
	font-size: 22px;
    color: #cabdbd;
}

.centered {
    text-align: center;
}

.box {
	border: 4px solid;
    color: black;
    border-radius: 10px;
    border-color: black;
}

.config-num {
    padding-top: 45px;
    color: #cabdbd;
}

.radio {
	vertical-align: middle;
	margin: 0px;
}

.subs-manager {
    text-align: center;
}

.select2-selection__rendered, 
.select2-selection__choice__display, 
.select2-results__option,
.select2-results__option--selectable,
.select2-selection__choice__remove span,
.input,
td p {
    color: black;
}

.now-playing {
	word-break: break-all;
    font-weight: bold;
}

.clickable, button {
    cursor: pointer;
}

.header-link {
    font-weight: bold;
}

.sub-button {
    margin-top: 12px;
    height: 30px;
}

.subscribe-text-box {
    height: 30px;
    margin-bottom: 7px;
    border: none;
}

.update-button {
    margin-bottom: 10px;
}