radio/new/*
radio/main/*
venv
.env
__pycache__
compose.yaml
config/*
logs/*
configs.db
docker-run.sh
shell*
test-endpoint.sh
.urls
.playlist
.pid*
*.log
.upload
listener.c
sender.c
*.bak
radio.db
.completed_downloads_*
transfer_db.py
containers/*
nohup.out
dl_data
run.py
run.sh
stringwave.db
subs.db
move_status
containers