radio/new/*
radio/main/*
venv
.env
__pycache__
config/*
logs/*
configs.db
docker-run.sh
shell*
test-endpoint.sh
.urls
.playlist
.pid*
*.log
.upload
listener.c
sender.c
*.bak
radio.db
.completed_downloads_*
transfer_db.py
containers/*
nohup.out
dl_data
run.py
stringwave.db
subs.db
move_status
containers
scripts/get_track_info.py
retag.py
frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
now_playing_*