<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cogmera Configuration</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="box">
	<form method="POST" action="/cogmera/config">
		<label for="genres">Select a Genre:</label>
		<br>
		<select class="select-multiple" name="genres" multiple id="genres">
			<option value="None" selected>None</option>
			{% for genre in genres %}
			<option value="{{ genre['genre'] }}">{{ genre["genre"] }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label for="styles">Select a Style:</label>
		<br>
		<select class="select-multiple" name="styles" multiple id="styles">
			<option value="None" selected>None</option>
			{% for style in styles %}
			<option value="{{ style['style'] }}">{{ style["style"] }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label for="countries">Select a Country:</label>
		<br>
		<select class="select-single" name="countries" id="countries">
			<option value="None" selected>None</option>
			{% for country in countries %}
			<option value="{{ country['country'] }}">{{ country["country"] }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label for="decades">Select a Decade:</label>
		<br>
		<select class="select-single" name="decades" id="decades">
			<option value="None" selected>None</option>
			{% for decade in decades %}
			<option value="{{ decade['decade'] }}">{{ decade["decade"] }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label for="years">Select a Year:</label>
		<br>
		<select class="select-single" name="years" id="years">
			<option value="None" selected>None</option>
			{% for year in years %}
			<option value="{{ year['year'] }}">{{ year["year"] }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label for="sort_methods">Select a Sorting Method:</label>
		<br>
		<select class="select-single" name="sort_methods" id="sort_methods">
			<option value="None" selected>None</option>
			{% for sort_method in sort_methods %}
			<option value="{{ sort_method['sort_method'] }}">{{ sort_method["sort_method"] }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label for="order">How do you want to order the results?</label><br>
		<input type="radio" class="radio" name="order" value="A">
		<label for="asc">Ascending</label>
		<input type="radio" class="radio" name="order" value="D" checked>
		<label for="desc">Descending</label><br>
		<br>
		<label for="number">How many songs do you want to download?</label><br>
		<input type="text" name="number">
		<br><br>
		<input type="submit" value="SUBMIT">
		<br><br>
	</form>

	<script src="{{ url_for('static', filename='jquery_classes.js') }}"></script>
</body>
</html>
