<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Radio</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header class="main-header">
            <h1>S T R I N G W A V E</h1>
            <nav class="nav main-nav">
                <ul>
                    <li>
                        <a href="/radio/new">NEW MUSIC</a>
                    </li>
                    <li>
                        <a href="/tracks/new">NEW TRACKS</a>
                    </li>
                    <li>
                        <a href="/radio/main">MY MUSIC</a>
                    </li>
                    <li>
                        <a href="/tracks/main">MY TRACKS</a>
                    </li>
                    <li>
                        <a href="/pipefeeder/list_subs">MY SUBSCRIPTIONS</a>
                    </li>
                    <li>
                        <a href="/cogmera/dump_config">MY CONFIGURATIONS</a>
                    </li>
                    <li>
                        <a href="/cogmera/config">NEW CONFIGURATION</a>
                    </li>
                </ul>
            </nav>
        </header>

        <footer class="main-footer">
            <div class="container">
                <div class="created-by">
                    <p>Created by neosheo</p>
                </div>
                <div class="github">
                    <a href="https://github.com/neosheo/Stringwave">
                        <img src="{{ url_for('static', filename='images/github.png') }}" alt="github" width="25" height="25">
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
