{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
  <div>
    <h3 class="title">Login</h3>
      <div>
        <form method="POST" action="/login">
          {{ form.csrf_token }}
          <div class="field">
            <input class="text-box" name="username" type="username" placeholder="Your Username">
          </div>
          <br>
          <div class="field">
            <input class="text-box" name="password" type="password" placeholder="Your Password">
          </div>
          <br>
          <button type="submit" class="button">Login</button>
          <br>
      </form>
    </div>
  </div>
{% endblock %}