{% extends 'base.html' %}

{% block title %}
{{ station|capitalize }} Music
{% endblock %}

{% block content %}
    <script src='{{ url_for("static", filename="skip_song.js") }}'></script>
    <script src='{{ url_for("static", filename="refresh_stream.js") }}' defer></script>
    <p>Now Playing:</p>
    <h1 id="now_playing" class="now-playing"></h1>
    <audio id="audio-controls" controls><source id="stream" src="/{{ station }}" type="audio/ogg"></audio>
    <br>
    <br>
    {% if current_user.is_authenticated %}
    <a id="skip">
        <img src="{{ url_for('static', filename='images/skip.svg') }}" alt="Skip" width="48" height="48">
    </a>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src='{{ url_for("static", filename="now_playing.js") }}'></script>
{% endblock %}
