<!DOCTYPE html>
<html>
<head>
	<title>Your Subscriptions</title>
    <link rel='icon' type='img/png' href='img/favicon.png'/>
	<!--<link rel='stylesheet' type='text/css' href="static/styles.css">-->
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body>
	<!--Alerts user if they enter invalid URL-->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
	   		{% for message in messages %}
		  		<script>function invalidUrl() {
					alert("{{ message }}");
				}
				invalidUrl();
				</script>
	   		{% endfor %}
		{% endif %}
 	{% endwith %}

	<form method='POST' action='/pipefeeder/add_sub'>
		<h1 align='center'>Add a channel's URL to subscribe</h1>
		<center><input type='text' name='subscribe'></input></center>
		<br>
		<center><button type='submit'>Subscribe</button><center>
	</form>
	<br>
	<form method='POST' action='/pipefeeder/upload_subs' enctype='multipart/form-data'>
		<center><input type='file' id='subs' name='subs'></center>
		<br>
		<center><input type='submit' value='Upload'><center>
	</form>
	<br><br>
	<center><a href='/pipefeeder/backup_subs'>Backup</a></center>
	<br>
	<h1 align='center'>Channels you've subscribed to:</h1>
	{% if subs %}
		{% for sub in subs %}
			<div class='entry' style='border-style: groove;'>
				<div class='title'>
					<form method='POST' action='/pipefeeder/del_sub'>
						<h2 align='center'>{{ sub['channel_name'] }}</h2>
						<center><img src={{ sub['channel_icon'] }} width='200' height='200'></img></center>
						<center><button type='submit' name='unsubscribe' value={{ sub['channel_id'] }}>Unsubscribe</button></center>
						<br>
					</form>
				</div>
			</div>
			<br>
		{% endfor %}
	{% else %}
		<h2 align='center'>No subs to display</h2>
	{% endif %}
</body>
</html>
