<!DOCTYPE html>
<html>
    <head>
        <title>Radio</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>    
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Track</th>
                <th>Config</th>
                {% if station == 'new' %}
                <th>Move</th>
                {% endif %}
                <th>Delete</th>
            </tr>
			{% if station == 'new' %}
            <form method="POST" id="move" action="/move_to_main"></form>
			{% endif %}
            <form method="POST" id="delete" action="/delete_track/{{ station }}"></form>s
            {% for track in tracks %}
            <tr>
                <td>{{ track.track_id }}</td>
                <td>{{ track.title }}</td>
                <td>{{ track.config }}</td>
                <td>
					{% if station == 'new' %}
                    <button type="submit" form="move" name="move_to_main" value="{{ track.track_id }}">Move</button>
					{% endif %}
                </td>
                <td>
                    <button type="submit" form="delete" name="delete_track" value="{{ track.track_id }}">Del</button>
                </td>

            </tr>
            {% endfor %}
        </table>
    </body>
</html>
