<!DOCTYPE html>
<html>

<head>
	<title>Uploading...</title>
    <link rel='icon' type='img/png' href='img/favicon.png'/>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body>
    <h1>Uploading subscriptions. This may take a while. Please be patient.</h1>
</body>

<script>
    async function checkUploadStatus() {
    const response = await fetch('{{ url_for("static", filename="upload_status") }}');
    const data = await response.text();
    if (data === 'complete') {
        window.location.replace('/list_subs');
    }
    setTimeout(checkUploadStatus, 5000);
}
checkUploadStatus();
</script>

</html>
